<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${bankroll}">
    <div class="form-group">
        <label th:for="goal">Goal</label>
        <input class="form-control" th:field="*{goal}" />
        <span th:errors="*{goal}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="progress">Progress</label>
        <input class="form-control" th:field="*{progress}" />
        <span th:errors="*{progress}" class="error"></span>
    </div>
    <input type="submit" value="Add to Goals" />
</form>

</body>
</html>