<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body>
    <h1 th:text="${title}"></h1>


    <table class="table">

        <tr>
            <th>Goal</th>
            <th>Progress</th>
        </tr>

        <tr th:each="bankroll : ${bankrolls}">
            <td th:text="${bankroll.goal}"></td>
            <td th:text="${bankroll.progress}"></td>
        </tr>

    </table>

    <a href="/newgame">New Game</a>  |
    <a href="/bankroll/add">Add to Goals</a>

</body>
</html>